/********** Template CSS **********/
:root {
    --primary: #6244C5;
    --secondary: #FFC448;
    --light: #FAFAFB;
    --dark: #12141D;
}

/* Floating Bubbles Animation */
.bubble {
    position: fixed;
    border-radius: 50%;
    background: rgba(98, 68, 197, 0.1);
    pointer-events: none;
    animation: float linear infinite;
    z-index: -1;
}

@keyframes float {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 0.8;
    }
    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
    }
}

/* Create multiple bubbles with different sizes and animations */
.bubble:nth-child(1) {
    width: 30px;
    height: 30px;
    left: 10%;
    animation-duration: 25s;
    animation-delay: 0s;
    background: rgba(98, 68, 197, 0.15);
}

.bubble:nth-child(2) {
    width: 20px;
    height: 20px;
    left: 20%;
    animation-duration: 20s;
    animation-delay: 5s;
    background: rgba(255, 196, 72, 0.1);
}

.bubble:nth-child(3) {
    width: 40px;
    height: 40px;
    left: 30%;
    animation-duration: 30s;
    animation-delay: 2s;
    background: rgba(98, 68, 197, 0.1);
}

.bubble:nth-child(4) {
    width: 25px;
    height: 25px;
    left: 40%;
    animation-duration: 22s;
    animation-delay: 8s;
    background: rgba(255, 196, 72, 0.08);
}

.bubble:nth-child(5) {
    width: 35px;
    height: 35px;
    left: 50%;
    animation-duration: 28s;
    animation-delay: 4s;
    background: rgba(98, 68, 197, 0.12);
}

.bubble:nth-child(6) {
    width: 15px;
    height: 15px;
    left: 60%;
    animation-duration: 18s;
    animation-delay: 6s;
    background: rgba(255, 196, 72, 0.06);
}

.bubble:nth-child(7) {
    width: 45px;
    height: 45px;
    left: 70%;
    animation-duration: 32s;
    animation-delay: 1s;
    background: rgba(98, 68, 197, 0.08);
}

.bubble:nth-child(8) {
    width: 18px;
    height: 18px;
    left: 80%;
    animation-duration: 21s;
    animation-delay: 7s;
    background: rgba(255, 196, 72, 0.09);
}

.bubble:nth-child(9) {
    width: 28px;
    height: 28px;
    left: 90%;
    animation-duration: 26s;
    animation-delay: 3s;
    background: rgba(98, 68, 197, 0.11);
}

.bubble:nth-child(10) {
    width: 22px;
    height: 22px;
    left: 5%;
    animation-duration: 24s;
    animation-delay: 9s;
    background: rgba(255, 196, 72, 0.07);
}

.bubble:nth-child(11) {
    width: 38px;
    height: 38px;
    left: 15%;
    animation-duration: 29s;
    animation-delay: 5s;
    background: rgba(98, 68, 197, 0.13);
}

.bubble:nth-child(12) {
    width: 12px;
    height: 12px;
    left: 25%;
    animation-duration: 16s;
    animation-delay: 8s;
    background: rgba(255, 196, 72, 0.05);
}

.bubble:nth-child(13) {
    width: 32px;
    height: 32px;
    left: 35%;
    animation-duration: 27s;
    animation-delay: 2s;
    background: rgba(98, 68, 197, 0.14);
}

.bubble:nth-child(14) {
    width: 26px;
    height: 26px;
    left: 45%;
    animation-duration: 23s;
    animation-delay: 6s;
    background: rgba(255, 196, 72, 0.11);
}

.bubble:nth-child(15) {
    width: 42px;
    height: 42px;
    left: 55%;
    animation-duration: 31s;
    animation-delay: 4s;
    background: rgba(98, 68, 197, 0.09);
}

/* More bubbles for better coverage */
.bubble:nth-child(16) {
    width: 19px;
    height: 19px;
    left: 65%;
    animation-duration: 19s;
    animation-delay: 7s;
    background: rgba(255, 196, 72, 0.08);
}

.bubble:nth-child(17) {
    width: 33px;
    height: 33px;
    left: 75%;
    animation-duration: 26s;
    animation-delay: 3s;
    background: rgba(98, 68, 197, 0.12);
}

.bubble:nth-child(18) {
    width: 24px;
    height: 24px;
    left: 85%;
    animation-duration: 22s;
    animation-delay: 8s;
    background: rgba(255, 196, 72, 0.1);
}

.bubble:nth-child(19) {
    width: 36px;
    height: 36px;
    left: 95%;
    animation-duration: 28s;
    animation-delay: 1s;
    background: rgba(98, 68, 197, 0.07);
}

.bubble:nth-child(20) {
    width: 14px;
    height: 14px;
    left: 3%;
    animation-duration: 17s;
    animation-delay: 9s;
    background: rgba(255, 196, 72, 0.06);
}

/* Ensure bubbles are behind all content */
body {
    position: relative;
    overflow-x: hidden;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

.my-6 {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.py-6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-weight: 500;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}


/*** Navbar ***/
.navbar.fixed-top {
    display: none;
    transition: .5s;
}

.navbar .navbar-nav .nav-link {
    padding: 20px 15px;
    color: var(--dark);
    font-size: 18px;
    font-weight: 600;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav .nav-link  {
        padding: 10px 0;
    }
}


/*** Header ***/
#home {
    margin-bottom: 6rem;
    background: url(../img/bg-header.png) left top no-repeat;
}

.typed-cursor {
    font-size: 30px;
    color: var(--dark);
}

.btn-play {
    position: relative;
    display: block;
    box-sizing: content-box;
    width: 16px;
    height: 26px;
    border-radius: 100%;
    border: none;
    outline: none !important;
    padding: 18px 20px 20px 28px;
    background: var(--primary);
}

.btn-play:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 60px;
    height: 60px;
    background: var(--primary);
    border-radius: 100%;
    animation: pulse-border 1500ms ease-out infinite;
}

.btn-play:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 60px;
    height: 60px;
    background: #FFFFFF;
    border-radius: 100%;
    transition: all 200ms;
}

.btn-play span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    left: -1px;
    border-left: 16px solid var(--primary);
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(2);
        opacity: 0;
    }
}

.modal-video .modal-dialog {
    position: relative;
    max-width: 800px;
    margin: 60px auto 0 auto;
}

.modal-video .modal-body {
    position: relative;
    padding: 0px;
}

.modal-video .close {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0px;
    top: -30px;
    z-index: 999;
    font-size: 30px;
    font-weight: normal;
    color: #FFFFFF;
    background: #000000;
    opacity: 1;
}


/*** About ***/
#about .years .display-1 {
    font-size: 10rem;
    line-height: 9rem;
}

#about .years h5 {
    letter-spacing: 30px;
    margin-right: -30px;
}


/*** Skills ***/
#skill .progress {
    height: 5px;
    border-radius: 5px;
}

#skill .progress .progress-bar {
    width: 0px;
    border-radius: 5px;
    transition: 3s;
}

#skill .nav-pills .nav-link {
    color: var(--dark);
}

#skill .nav-pills .nav-link.active {
    color: #FFFFFF;
}

#skill .tab-content hr {
    width: 30px;
}


/*** Service ***/
.service-item .bg-icon {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/bg-icon.png) center center no-repeat;
    background-size: cover;
}


/*** Project Portfolio ***/
#portfolio-flters li {
    display: inline-block;
    font-weight: 500;
    color: var(--dark);
    cursor: pointer;
    transition: .5s;
    border-bottom: 2px solid transparent;
}

#portfolio-flters li:hover,
#portfolio-flters li.active {
    color: var(--primary);
    border-color: var(--primary);
}

.portfolio-img {
    position: relative;
}

.portfolio-btn {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(98, 68, 197, .9);
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 30px;
    padding-bottom: 100px !important;
    opacity: 0;
    transition: .5s;
}

.portfolio-item:hover .portfolio-btn {
    opacity: 1;
    padding-bottom: 30px !important;
}


/**Certificate**/
/*** Project Portfolio ***/
#certificate-flters li {
    display: inline-block;
    font-weight: 500;
    color: var(--dark);
    cursor: pointer;
    transition: .5s;
    border-bottom: 2px solid transparent;
}

#certificate-flters li:hover,
#certificate-flters li.active {
    color: var(--primary);
    border-color: var(--primary);
}

.certificate-img {
    position: relative;
}

.certificate-btn {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(98, 68, 197, .9);
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 30px;
    padding-bottom: 100px !important;
    opacity: 0;
    transition: .5s;
}

.certificate-item:hover .certificate-btn {
    opacity: 1;
    padding-bottom: 30px !important;
}


/*** Team ***/
.team-item img {
    transition: .5s;
}

.team-item:hover img {
    opacity: .7;
}

.team-item .team-text {
    position: absolute;
    left: 0;
    right: 60px;
    bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    transition: .5s;
}

.team-item:hover .team-text {
    right: 30px;
    opacity: 1;
}

.team-item .team-text div {
    transition: .5s;
}

.team-item:hover .team-text div {
    margin-left: 30px;
}


/*** Testimonial ***/
.testimonial-left,
.testimonial-right {
    position: relative;
}

.testimonial-left img,
.testimonial-right img {
    position: absolute;
    padding: 5px;
    border: 1px solid var(--secondary);
    border-radius: 70px;
}

.testimonial-left img:nth-child(1),
.testimonial-right img:nth-child(3) {
    width: 70px;
    height: 70px;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.testimonial-left img:nth-child(2),
.testimonial-right img:nth-child(2) {
    width: 60px;
    height: 60px;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}

.testimonial-left img:nth-child(3),
.testimonial-right img:nth-child(1) {
    width: 50px;
    height: 50px;
    bottom: 10%;
    right: 10%;
}

.testimonial-carousel .owl-item img {
    width: 120px;
    height: 120px;
}

.testimonial-carousel .testimonial-icon {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 50%;
    bottom: -15px;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border: 1px solid var(--secondary);
    border-radius: 60px;
}

.testimonial-carousel .owl-dots {
    height: 40px;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border: 2px solid var(--secondary);
    border-radius: 30px;
    transition: .5s;
}

.testimonial-carousel .owl-dot::after {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    top: 5px;
    left: 5px;
    border-radius: 16px;
    background: var(--secondary);
    transition: .5s;
}

.testimonial-carousel .owl-dot.active::after {
    background: var(--primary);
}


/* Publication Card Styles */
        .publication-card {
            background: linear-gradient(145deg, #ffffff, #f0f0f0);
            border-radius: 15px;
            padding: 25px;
            height: 100%;
            box-shadow: 0 5px 15px rgba(0,0,0,0.08);
            transition: all 0.3s ease;
            border-left: 4px solid #6c63ff;
        }
        
        .publication-card:hover {
            transform: translateY(-5px);
            box-shadow: 0 10px 25px rgba(108, 99, 255, 0.15);
            border-left-width: 6px;
        }
        
        .publication-icon {
            width: 60px;
            height: 60px;
            background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
            border-radius: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
        }
        
        .publication-icon i {
            font-size: 28px;
            color: white;
        }
        
        .publication-card h4 {
            color: #2d3748;
            font-size: 1.1rem;
            font-weight: 600;
            margin-bottom: 15px;
            line-height: 1.5;
        }
        
        .publication-link {
            display: inline-block;
            padding: 8px 20px;
            background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
            color: white;
            text-decoration: none;
            border-radius: 25px;
            font-size: 0.9rem;
            transition: all 0.3s ease;
            margin-top: 10px;
        }
        
        .publication-link:hover {
            transform: scale(1.05);
            box-shadow: 0 5px 15px rgba(108, 99, 255, 0.3);
            color: white;
        }
        
        .publication-source {
            display: inline-block;
            padding: 5px 15px;
            background: #f7fafc;
            color: #4a5568;
            border-radius: 20px;
            font-size: 0.85rem;
            margin-top: 10px;
            font-weight: 500;
        }

        /* Experience & Education Timeline Styles */
        .timeline-item {
            position: relative;
            padding: 25px;
            background: linear-gradient(145deg, #ffffff, #f8f9fa);
            border-radius: 15px;
            box-shadow: 0 5px 15px rgba(0,0,0,0.08);
            transition: all 0.3s ease;
            border-left: 4px solid #6c63ff;
            margin-bottom: 20px;
        }
        
        .timeline-item:hover {
            transform: translateX(5px);
            box-shadow: 0 8px 20px rgba(108, 99, 255, 0.15);
            border-left-width: 6px;
        }
        
        .timeline-item h5 {
            color: #2d3748;
            font-weight: 700;
            font-size: 1.15rem;
            margin-bottom: 10px;
        }
        
        .timeline-date {
            display: inline-block;
            padding: 6px 15px;
            background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
            color: white;
            border-radius: 20px;
            font-size: 0.85rem;
            font-weight: 500;
            margin: 10px 0;
        }
        
        .timeline-company {
            color: #4a5568;
            font-size: 1rem;
            font-weight: 500;
            display: flex;
            align-items: center;
            margin-top: 8px;
        }
        
        .timeline-company i {
            margin-right: 8px;
            color: #667eea;
        }
        
        .custom-nav-pills .nav-link {
            border-radius: 50px;
            padding: 15px 30px;
            font-weight: 600;
            transition: all 0.3s ease;
            border: 2px solid #667eea;
        }
        
        .custom-nav-pills .nav-link.active {
            background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
            border-color: transparent;
        }
        
        .custom-nav-pills .nav-link:not(.active) {
            background: white;
            color: #667eea;
        }
        
        .custom-nav-pills .nav-link:hover:not(.active) {
            background: #f7fafc;
            transform: scale(1.02);
        }

        /* Skill Category Styles */
        .skill-category {
            background: white;
            padding: 20px;
            border-radius: 12px;
            box-shadow: 0 3px 10px rgba(0,0,0,0.05);
            transition: all 0.3s ease;
        }
        
        .skill-category:hover {
            box-shadow: 0 5px 15px rgba(0,0,0,0.1);
            transform: translateY(-3px);
        }
        
        .skill-category h5 {
            font-weight: 700;
            margin-bottom: 15px;
        }
        
        .badge {
            font-weight: 500;
            font-size: 0.9rem;
        }
